<div class="container-totale">

    <div class="sinistra">

        <div class="title">
            <p class="textTitle">RIEPILOGO CARRELLO</p>
        </div>

        <div *ngIf="productsCount === 0; then thenBlock"></div>
        
            <ng-template #thenBlock >
                <label class="empty"> CART IS EMPTY </label>
            </ng-template>
       
        <div class="prodotto" *ngFor="let product of products | keyvalue">

            <div class="foto">
                <div class="immagine-prodotto">
                    <img src={{product.key.getBlob()}} alt="productImg"> <!--"{{product.key.getBlob()}}"-->
                </div>
            </div>
            <div class="descrizione">
                <div class="description">
                        
                    <div class="nome">
                        <p>{{product.key.getName()}}</p>
                    </div>
                    <div class="prezzo">
                        <p>{{product.key.getPrice()}} €</p>                        
                    </div>

                    <div class="quantity-delete">
                        <!-- <p>{{product.value}}</p>     Nient'altro che il numero di prodotti di quel tipo presente nel carrello -->
    
                        <button class="buttons" (click)="substractProduct(product.key)" mat-raised-button color="accent">-</button>
    
                        <button class="buttons" mat-raised-button color="accent">{{product.value}}</button>
    
                        <button class="buttons" (click)="addProduct(product.key)" mat-raised-button color="accent">+</button>
    
                        <button class="del-buttons" mat-mini-fab (click)="deleteProduct(product.key)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="destra">
        <div class="subtotal">
            <p class="textSubtotal">TOTALE </p> 
            <p> {{calcSubtotal() | number : '1.0-2'}} €</p>  <!-- pipe per formattare adeguatamente i numeri visualizzati -->
        </div>
        <div class="acquista">
            ACQUISTA ORA
        </div>
        <div class="payment-options">
            <div class="payment-options-text">
                ACCETTIAMO
            </div>
            <div class="metodi-pagamento">
                <img id="metodi-pagamento" src="../../assets/carrello/metodi-pagamento.png" alt="metodi-pagamento">
            </div>
        </div>
    </div>


</div>



